nav {
  display: none;
  background: pink;
  height: 100vh;
  width: 220px;
  z-index: 999;
}
nav-menu {
  border-radius: 50%;
  padding: 2rem 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.nav-link {
  color: #000;
  font-size: 1.5rem;
  font-family: monospace;
  text-decoration: none;
  padding: 0 1rem;
  cursor: pointer;
  transition: all 250ms ease;
  &.active {
    color: rebeccapurple;
    font-weight: bold;
    font-size: 1.75rem;
  }
}
